* text=auto eol=lf
*.rs text eol=lf
*.jsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.bat text eol=crlf
*.ico binary
*.png binary
*.icns binary
